body{
    text-align: center;
    color: white;
    background-image: url("universe.jpg");
    background-size: cover;
    font-family: orbitron;

}
.btn{
    padding: 10px;
    background: white;
    border: none;
    font-family: orbitron;
    cursor: pointer;
}
.underline{
    border-bottom: 5px solid;
}
